.avatar-uploader .el-upload {
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409eff;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px dashed #d9d9d9;
}

.avatar {
    width: 80px;
    height: 80px;
    display: block;
}

.mt20{
    margin-top:20px
}
.ml20{
    margin-left:20px;
}
.addBox {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 99;
    height: 400px;
    width: 600px;
    background: #fff;
    border: 1px solid #409eff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #6b9fd3c0;
}

.closeBtn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background: #fff;
    border: none;
    color: #e83929;
}
.inputItem{
    height: 46px;
    line-height: 46px;
    padding:0 25px;
}